@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
*{
	margin:0;
	box-sizing:border-box;
	padding:0;
}

body{
	
	font-family:'Roboto', sans-serif;
	
}
/*--------------flat-top------------------*/
a{
	text-decoration: none;
	color: #fff;
}
ul{
	text-decoration: none;
}
li{
	list-style: none;
}
.row{
	display: flex;
	overflow: hidden;
	height: 30px;
	background-color: black;
	margin: 0 auto;
	
}
.row__email{
	flex: 1;
	color: white;
	text-align: center;
	
}
.custom-info{
	margin: 4px auto;
}

.row__social{
	flex:1;
	display: flex;
	text-align: center;
	
}
.info-top-right{
	order: 2;
	position: relative;
	top:6px;
	color: #fff;
	display: inline-block;
}

.info-top-left{
	order: 1;
}


.social_networks li{
	background-color: black;
	width: 27px;
	height: 25px;
	text-align: center;
	border: 1px solid white;
	border-radius: 4px;
	padding-top: 2px;
	margin: 0px 2px;
	
}

.social_networks{
	margin: 4px 100px;
	position: relative;
	left: 90px;
	display: flex;
	
}


/*-----------------header----------------------------------------------*/
.header{
	background-color: #fff;
	width: auto;
	height:  140px;
	background-size: 100% ;
	background-position-y: -70px;
	background-image:url(./img/fondo\ de\ header0000.jpg);
	
	z-index: 1000;
}
	
.header__contenedor{
	display: flex;
    flex: 1;
    max-width: 1200px;
	margin: 0 auto;
}
.header__logo{
	width: 200px;
	height: 140px;
	text-align: center;
	padding: 10px 0;
	flex: 1;
	position: relative;
	right: 100px;
	
}

.header__logo img{
	position: relative;
	height: 140px;
	bottom: 10px;
	
	
}
.header__navegacion{
    flex: 5;
    display: flex;
}
.header__lista{
	flex: 1;
    list-style: none;
    display: flex;
}
.header__navegacion a {
	color: #251f39;
	font-weight: 900;
	letter-spacing: 2px;
}	
.header__item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	transition: all 0.2s ease-in;
	
	font-size: 15px;
}
.header__item:hover {
	flex: 1.4;
	font-size: 20px;
}
.header__link{
    text-decoration: none;
    color: white;
}


/*-----------------------main-----------------------------*/
.main{
	margin-top: 140px;
}
.main__presentación{
	text-align: center;
	width:auto;
	height:500px;
	
	display: flex;

}
.w3-content{
	flex:2;
	margin: 0 0px 40px 50px ;
	box-shadow: #888 0px 0px 50px;
	border-radius: 0px 0px 0px 8px;
	order: 2;
	height: 498px;
	overflow: hidden;
}	
.mySlides{
	width:100%;
	height: 100%;
	
}

.bienvenida{
	order: 1;
	flex:1;
	margin: 110px 70px;

}
.bienvenida p{
	text-align: justify;
}
.bienvenida__title{
	margin-bottom:20px ;
	font-size: 50px;
}

/*---------eventos------------*/

.Eventos-pasados{
	background-color:rgba(250, 232, 232, 0.925) ;
	width:auto;
	height: 1120px;
	margin: 40px auto;
}

.Eventos-pasados__title{
	text-align: center;
	padding-top:10px ;
}

.Eventos-pasados__title h2{
	margin: 10px 0px;
	font-size: 50px;
}
.Eventos-pasados__contenido{
	height: 90%;
}
.col-na-row{
	width: 1300px;
	height:90%;

	margin: 0px auto;
	text-align: center;
}
.col-na-3{
	width: 23%;
	height: 440px;
	overflow: hidden;
	display: inline-block;
	margin: 25px 65px;
	background-color: rgb(75, 54, 54);
	box-shadow: #888 0px 0px 50px;
	flex-wrap: wrap;
}
.naeep-image{
	width: 100%;
	height: 57%;
	overflow: hidden;	
}

.naeep-image img{
	width: 100%;
	transition: transform .8s;
	position: relative;
	
}

.news-info{
	margin: 30px auto;
}
.news-title{
	height: 67.2px ;
	width: 100%;
	
}

.naeep-btn-wrap{
	margin: 30px auto;
	width: 40%;
	height: 40px;
	text-align: center;
	border: 1px solid;
	padding: 10px ;
	border-radius: 6px;
	background-color: white;
}
.naeep-btn-wrap a{
	color: black;
}
.col-na-3:hover img{
	transform: scale(1.4);
}
	

/*-----------------footer--------------------------------*/
.main_2{
	margin-top: 170px;
}
.main_somos, .main_afiliacion{
	width: 1200px;
	text-align: justify;
	margin: 10px auto;
}
.quienes__title, .Objetivos__title, .consejo__title,.afiliacion__title{
	margin: 30px 0px;
}
.quienes__parrafo{
	margin: 40px 0px;
	font-size: 20px;
}
.quienes__imagen,.consejo__img{
	margin: 140px 0px;
	text-align: center;

}
.quienes__imagen img, .consejo__img img{
	transform: scale(1.4);
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
}
.objetivos__list, .consejo__list{
	font-size: 20px;
}

.objetivos__list li{
	list-style: square;
}
/*------------Directorio---------*/
.consejo__list dd{
	margin-left:100px ;
}
/*------------afliación-----------*/
.afiliacion__list ol{
	margin-left: 0px;
}
.afiliacion__list .list{
	list-style-type: decimal;
	margin: 20px 0px 20px 0px ;
}
.afiliacion__list .list .sublist{
	margin-left: 30px;
}
.afiliacion__list .list .sublist__b{
	list-style-type: lower-alpha;
	margin: 10px 0px 10px 0px ;
}



.table_unete{
	width: 700px;
	margin: 0px auto;
	box-shadow: #888 0px 0px 50px;

	border-radius: 10px;
	
}
.presentación_form{
	text-align: justify;
	margin: 10px;
}
/*--------------Repositorío--------------*/
.main_repositorio{
	margin: 10px 120px;
}
.img-thumbnail{
	height: 100px;
}



